<!--@using ExchangeRate.Models.Currency
model CurrencyTableViewModel[]-->
@using ExchangeRate.Data.Entities
@model Currency


<table border="1" width="100%">
  <tr>
    <th rowspan="2" class="first">Название банка</th>
    <th colspan="2">Рубль</th>
    <th colspan="2">Доллар</th>
    <th colspan="2">Евро</th>
    <th rowspan="2">Время обновления</th>
  </tr>
  <tr>
    <td class="first">Покупка</td>
    <td class="first">Продажа</td>
    <td class="first">Покупка</td>
    <td class="first">Продажа</td>
    <td class="first">Покупка</td>
    <td class="first">Продажа</td>
  </tr>
   
            	<tr>
    	  <td rowspan="3" class="first">@Model.BankName</td>
    	  <!-- Рубли -->
    	  <td>@Model.RubBuy</td>
      	  <td>@Model.RubSell</td>
    	  <!-- Доллары-->
    	  <td>@Model.UsdBuy</td>
    	  <td>@Model.UsdSell</td>
    	  <!-- Евро-->
    	  <td>@Model.EurBuy</td>
    	  <td>@Model.EurSell</td>

          <td>CreationDate</td>
  	</tr>
    